nav{
background-color: #fff;

}
nav i,
nav [class^="mdi-"], nav [class*="mdi-"],
nav i.material-icons {
  display: block;
  font-size: 48px;
  height: 56px;
  line-height: 56px;
  float: left;
  margin: 3px 0px 3px 0px;
  color: black;
}
nav a {
	
	float: left;
}
@media only screen and (max-width: 992px){
  .social_links{
    display: none;
  }
  .logo {
    float: right !important;
    margin-right: 32%;
    margin-left: 0% !important;
  }
}
.dropdown_menu {
	margin-left: 3%;
  height: 100%;
  float: left;
}
.dropdown-button {
	height: 64px;
}
.dropdown-content {
  background-color: #fff;
  margin: 0;
  display: none;
  min-width: 14%;
  max-height: 650px;
  overflow-y: none;
  opacity: 0;
  position: absolute;
  z-index: 999;
  will-change: width, height;
}
.dropdown-content li {
  clear: both;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  min-height: 50px;
  line-height: 1.5rem;
  width: 100%;
  text-align: left;
  text-transform: none;
}
.dropdown-content li > a, .dropdown-content li > span {
  font-size: 16px;
  color: black;
  width: 100%;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}
div {
	border: 1px solid black;
}

.logo{

	color: black;
  float: left;
  height: 100%;
  width: 35%;
  margin-left: 27%;
}
.social_links {
  float: right;
  height: 100%;
  margin-right: 3%;
}

.social_links a {
  color: black;
  font-size: 16px;
  border-right: 1px solid black;
  float: none;
  padding: 0px 15px;
}

footer{


bottom: 0px;
width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
footer.page-footer {
  margin-top: 20px;
  padding: 0px;
  background-color: #fff;

}
footer.page-footer .footer-copyright {
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: black;
  background-color: #fff;
}
.content {
    display: none;
}
.fixed-action-btn {
    position: fixed;
    right: 17%;
    bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0;
    z-index: 998;
}
.fixed-action-btn ul {
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    bottom: 50px;
    margin: 0;
    visibility: hidden;
}