nav{
background-color: #fff;

}
nav i,
nav [class^="mdi-"], nav [class*="mdi-"],
nav i.material-icons {
  display: block;
  font-size: 48px;
  height: 56px;
  line-height: 56px;
  float: left;
  margin: 3px 0px 3px 0px;
  color: black;
}
nav a {
	
	float: left;
}

.dropdown_menu {
	margin-left: 50px;
}
.dropdown-button {
	height: 64px;
}
.dropdown-content {
  background-color: #fff;
  margin: 0;
  display: none;
  min-width: 20%;
  max-height: 650px;
  overflow-y: none;
  opacity: 0;
  position: absolute;
  z-index: 999;
  will-change: width, height;
}
.dropdown-content li {
  clear: both;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  min-height: 50px;
  line-height: 1.5rem;
  width: 100%;
  text-align: left;
  text-transform: none;
}
.dropdown-content li > a, .dropdown-content li > span {
  font-size: 16px;
  color: black;
  width: 100%;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}
div {
	border: 1px solid black;
}